$font-family: sans-serif;
$size-waiting-area: 10rem;

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

.Building {
  position: relative;
  background: #ddd;
  // max-width: 50rem;
}

.Floors {
  display: flex;
  flex-direction: column;
}

.Floor {
  position: relative;
  background: rgba(100,100,100, .75);
  margin: 0;
  height: 5rem;
  display: flex;
  &:before {
    content: attr(data-floor-number);
    align-self: center;
    color: rgba(255,255,255,.66);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
  }
  &:after {
    content: '';
    height: 1px;
    background: rgba(255,255,255,.8);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.WaitingArea,
.Lift {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.WaitingArea {
  width: $size-waiting-area;
  justify-content: flex-start;
  // display: none;
  margin: .45rem 0; // visual glitch: truncated people on Safari;
  overflow: hidden;
}

.Person {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1rem;
  background: yellow;
  font: bold 0.85rem $font-family;
  margin: .0625rem;
}

.Person--waiting {
}
.Person--traveling {
  height: 1rem;
  width: 1rem;
  font-size: .66rem;
}

.Shafts {
  position: absolute;

  top: 0;
  left: $size-waiting-area;
  right: 0;
  bottom: 0;
  display: flex;
  flex-basis: 5rem;
  justify-content: space-around;
  align-items: stretch;
}

.Shaft {
  background: rgba(200,200,0,.35);
  width: 5rem;
}

.Lift {
  --height: calc(1 / var(--floors) * 100%);

  justify-content: center;
  position: relative;
  width: 100%;
  background: rgba(10,10,200,.88);

  height: var(--height);
  top: calc(100% - var(--height));
  transform: translateY(calc(-100% * var(--lift-position)));

  flex-direction: column;
}

.Stats {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-gap: 1rem;
}
.StatBox {
  padding: .5rem;
  border-radius: .25rem;
  background: rgb(200,200,200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.StatVal {
  font-size: 2rem;
  font-weight: bold;
}
.Time__frac {
  font-size: 1rem;
  opacity: .6;
}